<form action="/add/" method="post">
  <table border="0">
        <tr>
          <td>What was paid for?</td>
          <td><input type="text" name="item" maxlength="30" size="30"></td>
        </tr>
        <tr>
    <td>Who owes?</td>
          <td> <input type="text" name="user" maxlength="30" size="30"></td>
        </tr>

  <tr>
    <td>How much?</td>
          <td> <input type="text" name="price" maxlength="30" size="30"></td>
        </tr>
  <tr>
    <td>To whom do they owe the money?</td>
          <td> <input type="text" name="owed" maxlength="30" size="30"></td>
        </tr>
         <tr>
          <td colspan="2"><input type="submit" value="Add Item"></td>
        </tr>
    </table>
  </form>
