<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="datepicker.css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
 <link rel="stylesheet" href="/resources/demos/style.css">
 <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
 <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>





  <title>{{msg[1]}}</title>

</head>

<body>
  <header>
    <div class="top-tray">
      <input type="text" name="" class="log-out-button" value="Log Out" onclick="window.location.href='/'" style="width:auto;">
      <input type="text" class="logo" value="Events Page" onclick="window.location.href='/forward/'">
    </div>
  </header>


<!--Friends List-->
  <div class="row">
    <div class="col-md-1 container-widget">
      <div class="panel panel-info panel-widget">
        <div class="panel-body">
          <div id="hacker-list">
            <ol class="list">
                  <li data-id="1">
                    <div class="friend">
                      <p><img class="friend-icon" src="{{ url_for('static', filename='cpt_america.png') }}"/><a href="#" class="friend-name">Johnny</a></p>
                    </div>
                  </>
                  <li data-id="2">
                    <div class="friend">
                      <p><img class="friend-icon" src="{{ url_for('static', filename='ironman.png') }}"/><a href="#" class="friend-name">Sandra</a></p>
                    </div>
                  </li>
                  <li data-id="3">
                    <div class="friend">
                      <p><img class="friend-icon" src="{{ url_for('static', filename='thor.png') }}"/><a href="#" class="friend-name">Ralph</a></p>
                    </div>
                  </li>
                  <li data-id="4">
                    <div class="friend">
                      <p><img class="friend-icon" src="{{ url_for('static', filename='iron-man-2507706_1280.png') }}"/><a href="#" class="friend-name">Andrew</a></p>
                    </div>
                  </li>
                  <li data-id="5">
                    <div class="friend">
                      <p><img class="friend-icon" src="{{ url_for('static', filename='captain-marvel-2977923_1280.jpg') }}"/><a href="#" class="friend-name">Sasha</a></p>
                    </div>
                  </li>
                  <li data-id="6">
                    <div class="friend">
                      <p><img class="friend-icon" src="{{ url_for('static', filename='spiderman-3309033_1280.jpg') }}"/><a href="#" class="friend-name">Peter</a></p>
                    </div>
                  </li>
            </ol>
          </div>
        </div>
      </div>
    </div>

    <!--Adding eventitems-->
    <div class="column">
      <div class="panel-title text-center">
        <p>Add New Item<span class="fa fa-plus-circle" style="font-size:24px" style="cursor:pointer" onclick="document.getElementById('id06').style.display='block'"></span></p>
      </div>
      <!--Deleting eventitems-->
      <form method="POST" action='/deletevent/'>
        <div class="col-sm-offset-4">
          <label for="Item" style="font-size:32px">{{msg[1]}} at {{msg[2]}}</label>
        </div>
        {% for i in msg2 %}
          <div class="col-sm-offset-3">
            <p class="col-sm-offset-3" style="font-size:20px"> <button name="currItem" value="{{i[2]}}" class="fa fa-minus-circle" style="font-size:20px" style="cursor:pointer" onclick="document.getElementById('id09').style.display='block'"></button> {{i[2]}}: {{i[4]}} </p>
          </div>
        {% endfor %}
			<p class="col-sm-offset-6" style="font-weight:800">Total Owed: {{msg3}}</p>
      </form>
    </div>
  </div>


<!--Add Item up modal-->
  <div class="container">
    <div class="row">
      <div id="id06" class="modal w3-animate-opacity" role="dialog">
        <div class="modal-dialog ">
          <form class="modal-content" action="/additem/">
            <div class="modal-header">
              <h4 class="modal-title">Add a new item to {{msg[1]}}</h4>
            </div>
            <div class="modal-body">
              <p>Please fill in this form to add an Item.</p>

              <hr>

              <label class="col-sm-3" for="itemname"><b>Item Name: </b></label>
              <input class="col-sm-6" type="text" placeholder="Enter Item Name" name="itemname" value="" required>
              <div class="clearfix"></div>
              <br>

              <label class="col-sm-3" for="itemquantity"><b>Quantity:</b></label>
              <input class="col-sm-6" type="text" placeholder="Enter Quantity" name="itemquantity" value="" required>
              <div class="clearfix"></div>

              <label class="col-sm-3" for="price"><b>Price:</b></label>
              <input class="col-sm-6" type="text" placeholder="Item Price" name="price" value="" required>
              <div class="clearfix"></div>
              <br>

            </div>
              <div class="modal-footer">
                <button type="submit" class="signup" name=submit value={{msg[1]}}><i class="fa fa-check-square-o"></i>Add Item</button>
                <button type="button" onclick="document.getElementById('id06').style.display='none'" class="cancelbtn"><i class="fa fa-times-rectangle-o"></i> Cancel</button>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>





  <footer>
    <div class="bottom-tray">
      <p>About Us | Jobs | How It Works | Contact Us</p>
      <p>&copy 2018 *Placeholder*</p>
      <a href="#" class="fa fa-facebook"></a>
      <a href="#" class="fa fa-twitter"></a>
      <a href="#" class="fa fa-snapchat-ghost"></a>
      <a href="#" class="fa fa-linkedin"></a>
      <a href="#" class="fa fa-youtube"></a>
      <a href="#" class="fa fa-instagram"></a>
      <a href="#" class="fa fa-pinterest"></a>
    </div>
  </footer>

<script src="scripts/main.js" charset="utf-8"></script>
</body>

</html>
